#custom-header-label {
    font-size: 28px;  /* You can adjust the size (e.g., medium, larger, x-large, etc.) */
    font-family: "Arial, sans-serif";  /* Change the font family as needed */
    font-weight: bold;  /* Adjust font weight (e.g., normal, bold) */
    color: #333;  /* Change the font color */
    margin: 10px;
    /* Add more styles as needed */
}

#format-information-label {
    font-size: 14px;  /* You can adjust the size (e.g., medium, larger, x-large, etc.) */
    font-family: "Arial, sans-serif";  /* Change the font family as needed */
    font-weight: bold;  /* Adjust font weight (e.g., normal, bold) */
    color: #444;  /* Change the font color */
    /* Add more styles as needed */
}

/* Style for the GtkProgressBar */
#progress-bar {
    background-color: #e0e0e0; /* Background color */
}

#format-button {
	color: #333;
}

/* Style for the text inside the GtkProgressBar (if applicable) */
#progress-bar text {
    color: #000000; /* Text color */
}

#main-grid{
	background: rgb(255,255,255);
	background: linear-gradient(158deg, rgba(255,255,255,1) 0%, rgba(218,218,237,1) 62%);
	padding: 10px;
}

#header_image{

}

#format-grid{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: -1px 6px 10px -7px #000000;
}

#select-device-grid{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: -1px 6px 10px -7px #000000;
}

#create-bootable-grid{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: -1px 6px 10px -7px #000000;
}


